<footer class="mx-auto w-full  max-w-container px-4 sm:px-6 lg:px-8 text-center" >
     <!-- Divider -->
    <div class="max-w-screen-xl mx-auto px-5 sm:p-5 md:p-8 pt-0">
        <div class="border-b border-[#4c566a] mb-5 flex justify-between"></div>
    </div> 
    <div class="flex flex-col items-center ">
        <!-- Logo-->
        <div id="logo">
            <span class="text-[#5e81ac]">ngeran[</span><span class="text-[#ebcb8b]">io</span><span class="text-[#5e81ac]">]</span>
        </div>
        <p class="mt-5 text-center text-sm leading-6 text-slate-500">© Copyright {{ now.Year }}. All rights reserved.</p>
        <div class="mt-4 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700"><a href="/privacy-policy">Privacy policy</a>
            <div class="h-4 w-px bg-slate-500/20"></div><a href="/changelog">Changelog</a>
        </div>
    </div>
</footer>