 <!-- Hero Section -->
            <!-- Background Image-->
            <div style="background-image: url('img/hero.jpg');" class="flex flex-col items-center justify-center h-[calc(100vh-100px)] min-h-[500px] bg-contain md:bg-cover bg-center bg-no-repeat ">
                <!-- Avatar or Logo Image Wrapper-->
                <div class=" py-2 px-4 rounded-full text-center backdrop-blur-md">
                    <!-- Avatar or Logo -->
                     <div class="">
                        <img src="{{ .Site.Params.site.logo }}" width="200" alt="">
                     </div>
                     <!-- Brand and sescription-->
                    </div class="flex flex-col space-y-10 lg:mt-16 ">
                    <!-- Brand Name -->
                    <h1 class="text-[#5e81ac] text-3xl mt-3 font-semibold text-center">{{ .Site.Params.author.headline }}</h1>
                    <!-- Brand Description-->
                    <p class="  lg:max-w-2xl md:max-w-lg sm:max-w-md text-lg sm:p-3 md:p-3 text-[#ebcb8b] text-center my-10 ">
                      {{ .Site.Params.author.bio }}
                    </p>
                     <div>
                </div>
              </div>
              </div>