 <!-- Navigation -->
 <nav class="flex max-w-screen-lg px-4 py-2 mx-auto bg-[#d8dee9] bg-opacity-10 fixed inset-x-0 top-3 shadow lg:px-8 lg:py-3 backdrop-blur-lg backdrop-saturate-150 z-10 rounded-2xl">
    <div class="container flex flex-wrap items-center justify-between mx-auto text-black">
     <a href="/" class="text-lg" ><span class="text-[#5e81ac]">ngeran[</span><span class="text-[#ebcb8b]">io</span><span class="text-[#5e81ac]">]</span></a>
      <div class="hidden lg:block">
         <!--Navigation Menu-->
         {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
      </div>
    </div>
</nav>