<!-- layouts/partials/nav.html -->
<nav class="flex max-w-screen-lg px-4 py-2 mx-auto bg-[#d8dee9] bg-opacity-10 fixed inset-x-0 top-3 shadow lg:px-8 lg:py-3 backdrop-blur-lg backdrop-saturate-150 z-1000 rounded-2xl">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-8">
        <!-- Wrapper -->
        <div class="container flex flex-wrap items-center justify-between mx-auto text-black">
        <!-- Site Logo -->
        <div class="absolute inset-y-0 left-0 flex items-end sm:hidden">
          <button type="button" class="text-white inline-flex items-center justify-center p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
        <!-- Desktop Menu -->
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 text-white text-xl">
            <a href="/" class="text-lg" ><span class="text-[#5e81ac]">ngeran[</span><span class="text-[#ebcb8b]">io</span><span class="text-[#5e81ac]">]</span></a>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              {{ range .Site.Menus.main }}
                <div class="relative">
                  <a href="{{ .URL }}" class="text-[#5e81ac] px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">{{ .Name }}</a>
                  {{ if .HasChildren }}
                    <div class="absolute left-0 hidden mt-1 space-y-2 bg-gray-800 text-white p-3 rounded-md shadow-lg">
                      {{ range .Children }}
                        <a href="{{ .URL }}" class="block text-sm hover:bg-gray-700 rounded-md px-3 py-2">{{ .Name }}</a>
                      {{ end }}
                    </div>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  
    <!-- Mobile Menu -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3">
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}" class="text-white block px-3 py-2 rounded-md text-base font-medium">{{ .Name }}</a>
          {{ if .HasChildren }}
            <div class="space-y-1 ml-4">
              {{ range .Children }}
                <a href="{{ .URL }}" class="text-gray-300 block px-3 py-2 rounded-md text-base font-medium">{{ .Name }}</a>
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </nav>
  
  <script>
    const button = document.querySelector('button');
    const menu = document.getElementById('mobile-menu');
    button.addEventListener('click', () => {
      const isExpanded = button.getAttribute('aria-expanded') === 'true' || false;
      button.setAttribute('aria-expanded', !isExpanded);
      menu.classList.toggle('hidden');
    });
  </script>