<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="bg-[#242933]">
    <!-- Header Section -->
       <header class="">
        <!-- Top Hero Container -->
         <div class="">
            <!-- Navigation -->
           <nav class="flex max-w-screen-lg px-4 py-2 mx-auto bg-[#EFEFEF] bg-opacity-10 fixed inset-x-0 top-3 shadow lg:px-8 lg:py-3 backdrop-blur-lg backdrop-saturate-150 z-10 rounded-2xl">
               <div class="container flex flex-wrap items-center justify-between mx-auto text-black">
                <a href="/" class="" ><span class="text-blue-600">[</span> V <span class="text-blue-600">]</span></a>
                 <div class="hidden lg:block">
                    <!--Navigation Menu-->
                    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
                 </div>
               </div>
           </nav>
           <!-- Hero Section -->
            <!-- Background Image-->
            <div style="background-image: url('.../img/hero.jpg');" class="flex flex-col items-center justify-center h-[calc(100vh-200px)] min-h-[400px] bg-contain md:bg-cover bg-center bg-no-repeat ">
              <!-- Avatar or Logo Image Wrapper-->
              <div class="bg-white/30 py-2 px-4 rounded-2xl text-center backdrop-blur-md">
                  <!-- Avatar or Logo -->
                   <div class="">
                      <img src="/logo.png" width="300" alt="">
                  
                   </div>
                   <!-- Brand and sescription-->
                  </div class="flex flex-col space-y-10 lg:mt-16">
                  <!-- Brand Name -->
                  <h1 class="text-[#d8dee9] text-3xl mt-3 font-semibold text-center">{{ site.Title }}</h1>
                  <!-- Brand Description-->
                  <p class="max-w-md mx-auto text-lg text-center text-[#eceff4]">
                    This is the Description section of the landign page.
                  </p>
                   <div>
              </div>
            </div>
   </header>
    <main>
<!--Recent Posts-->
{{ partial "recent-posts.html" . }}

</main>
<!--Footer-->
{{ partial "footer.html" . }}
</body>
</html>